# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build/

# Ignore gradle.properties file which might contain credentials
gradle.properties

# Ignore VSCode stuff
app/bin/
.vscode/
